<h1><center>Students List Page</center></h1>
<hr>

<div align="center">
  <% if @student_list.empty?%>
      <b>No students available</b>
  <% else %>
      <table border="2">
        <tr>
          <td><b>Student id</b></td>
          <td><b>Department</b></td>
          <td><b>Maths</b></td>
          <td><b>Physics</b></td>
          <td><b>Chemistry</b></td>
          <td><b>Year</b></td>
        </tr>
        <% @student_list.each do |student| %>
            <tr>
              <td><%= student.student_id %></td>
              <td><%= student.department %></td>
              <td><%= student.maths %></td>
              <td><%= student.physics %></td>
              <td><%= student.chemistry %></td>
              <td><%= student.year %></td>
            </tr>
        <% end %>
      </table>
  <% end %>
</div>
