<h1><center>Student Details Page</center></h1><hr>
<div align="center">
  Student_id : <%= @student.student_id %> <br>
  Department : <%= @student.department %> <br>
  Maths : <%= @student.maths %> <br>
  Physics : <%= @student.physics %> <br>
  Chemistry : <%= @student.chemistry %> <br>
  Year : <%= @student.year %> <br>
</div>
<hr>
<%= link_to 'Go Back', students_path %>